@model IEnumerable<HomeShare.DAL.Bien>

<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        <li data-target="#myCarousel" data-slide-to="3" class=""></li>
    </ol>
    <!-- Carousel items -->

    <div class="carousel-inner">
        <div class="item active">
            <div class="row">
                <div class="col-lg-4"><img src="~/Content/images/@Model.First().Photo" class="img-responsive" alt="properties" /></div>
                <div class="col-lg-8">
                    <h5><a href="property-detail.php">@Model.First().Titre</a></h5>
                    @*<p class="price">$300,000</p>*@
                    <a href="~/Bien/Details/@Model.First().IdBien/@Model.First().IdMembre" class="more">More Detail</a>
                </div>
            </div>
        </div>
        
        @foreach (HomeShare.DAL.Bien item in Model)
        {
            <div class="item">
                <div class="row">
                    <div class="col-lg-4"><img src="~/Content/images/@item.Photo" class="img-responsive" alt="properties" /></div>
                    <div class="col-lg-8">
                        <h5><a href="property-detail.php">@item.Titre</a></h5>
                        @*<p class="price">$300,000</p>*@
                        <a href="~/Bien/Details/@item.IdBien/@item.IdMembre" class="more">More Detail</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>